@use '../util' as *;

h2 {
	margin: rem(40) 0 rem(40);
	@include breakpoint-down(small) {
		margin: rem(35) 0 rem(35);
	}
}

p {
	margin-bottom: rem(87);
	@include breakpoint-down(small) {
		margin-bottom: rem(30);
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	max-width: rem(920);
}

.cards {
	display: flex;
	border-radius: rem(10);
	overflow: hidden;
	max-height: rem(500);
	@include breakpoint-down(small) {
		flex-direction: column;
		max-height: max-content;
		margin-top: rem(88);
	}
}

.sedans,
.suvs,
.luxury {
	padding: rem(45) rem(49) rem(47);
	max-width: rem(305);
	@include breakpoint-down(small) {
		max-height: rem(440);
		max-width: rem(325);
	}
}

.btn {
	padding: rem(16.5) rem(37) rem(16.5);
	border-radius: rem(25);
	outline: none;
}

.btn:hover {
	border: rem(2) solid var(--white);
	cursor: pointer;
	transform: scale(1);
}

.attribution {
	@include breakpoint-down(small) {
		margin: rem(58.5) 0 rem(18.5);
	}
}